:root {
	--ff-global: 'Montserrat', sans-serif;
	--ff-poem: 'Esteban', serif;
	--fw-100: 100;
	--fw-200: 200;
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;

	--fs-8: 8px;
	--fs-9: 9px;
	--fs-10: 10px;
	--fs-11: 11px;
	--fs-12: 12px;
	--fs-13: 13px;
	--fs-14: 14px;
	--fs-15: 15px;
	--fs-16: 16px;
	--fs-17: 17px;
	--fs-18: 18px;
	--fs-19: 19px;
	--fs-20: 20px;
	--fs-21: 21px;
	--fs-22: 22px;
	--fs-23: 23px;
	--fs-24: 24px;
	--fs-25: 25px;
	--fs-26: 26px;
	--fs-27: 27px;

	--poem-fs: 16px;
	--subtitle-and-tile-name: 12px;
	--tile-width: 120px;
	--tile-height: 80px;

	--bg: #18181b;
	--color: #c2c2c2;
}
* {
	margin: 0;
	padding: 0;
	background-color: var(--bg);
	font-family: var(--ff-global);
	color: var(--color);
}

.main {
	background-color: var(--bg);
	margin: 50px 10px;
	text-align: center;

	/* push footer down */
	display: flex;
	min-height: 90vh;
	flex-direction: column;
	justify-content: flex-start;
}

.header {
	margin-bottom: 30px;
}
.header h1 {
	margin-bottom: 25px;
	font-size: var(--fs-24);
	font-weight: var(--fw-500);
}
.header p {
	font-size: var(--subtitle-and-tile-name);
	font-weight: var(--fw-400);
	font-style: italic;
	margin-bottom: 10px;
}
.header p:last-child {
	font-style: normal;
}

.modal {
	display: none;
	opacity: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	transition: opacity 0.7s linear; /* animation fade duration, should be same as that in code */
}
.modal.show {
	display: block;
}
.modal.visuallyshow {
	opacity: 1;
}
.modal-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 90px 35px 35px 35px;
	height: fit-content;
	min-height: 85vh;
	min-height: -moz-available;
	min-height: -webkit-fill-available;
	min-height: fill-available;
	min-height: 85svh;
}
.modal-close {
	position: fixed;
	z-index: 1;
	width: 100vw;
	height: 80px;
}
.modal-close span {
	font-size: calc(var(--poem-fs) - 3px);
	font-weight: var(--fw-300);
	color: #bdbdbd;
	padding: 20px;
	position: absolute;
	left: 0;
}
.modal-close .reveal-title {
	font-size: var(--fs-20);
	font-weight: var(--fw-500);
	position: relative;
	width: fit-content;
	top: 20px;
	margin: 0 auto;
	transform: translateY(40px);
	opacity: 0;
	transition: 1s all ease;
}
.modal-close .reveal-title.active {
	transform: translateY(0);
	opacity: 1;
}
.modal-close span:hover,
.modal-close span:focus {
	color: #f3f3f3;
	text-decoration: none;
	cursor: pointer;
}

.filter-sort {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 100px;
}
.sort-by,
.filter-by {
	padding: 4px 8px;
	margin: 0 5px;
	cursor: pointer;
}
.filter-by {
	border-radius: 3px;
	font-size: var(--subtitle-and-tile-name);
	font-weight: var(--fw-400);
	border: 1px solid #757474;
}
.sort-by {
	font-size: calc(var(--subtitle-and-tile-name) + 1px);
	font-weight: var(--fw-400);
	opacity: 0.8;
}
.sort-by:hover {
	opacity: 1;
}

.poem h3 {
	font-size: var(--fs-20);
	font-weight: var(--fw-500);
	margin-bottom: 40px;
}
.poem .poem-lines {
	margin-bottom: 40px;
}
.poem p {
	font-family: var(--ff-poem);
	font-size: var(--poem-fs);
	font-weight: var(--fw-200);
	margin-bottom: 10px;
}
.poem span.date {
	font-size: calc(var(--poem-fs) - 4px);
	font-weight: var(--fw-200);
	float: right;
}

.poem-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 30px 0;
}

.tile {
	width: var(--tile-width);
	height: var(--tile-height);
	margin: 15px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	position: relative;
	transition: all 0.3s ease-in-out;
}
.tile span {
	font-size: var(--subtitle-and-tile-name);
	font-weight: var(--fw-300);
	position: absolute;
	top: calc(var(--tile-height) - 10px);
	background: none;
}
.tile .tile-img-div {
	width: calc(var(--tile-width) - 20px);
	height: calc(var(--tile-height) - 20px);
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 2px 2px 5px rgb(210, 210, 210);
}
.tile .tile-img {
	width: calc(var(--tile-width) - 20px);
	height: calc(var(--tile-height) - 20px);
	border-radius: 3px;
	object-fit: cover;
	transition: all 0.3s ease-in-out;
}
.tile:hover .tile-img {
	transform: scale(1.4);
}
.tile:hover .tile-img-div {
	box-shadow: 2px 2px 5px rgba(210, 210, 210, 0.25);
}

.footer {
	margin-top: auto;
	padding: 20px;
}
.footer p {
	font-size: var(--fs-12);
	font-weight: var(--fw-200);
}

@media screen and (min-width: 580px) {
	:root {
		--poem-fs: 18px;
		--subtitle-and-tile-name: 14px;
		--tile-width: 150px;
		--tile-height: 100px;
	}
	.main {
		margin: 50px;
	}

	.header h1 {
		font-size: var(--fs-25);
		margin-bottom: 30px;
	}
	.header p {
		margin-bottom: 15px;
	}

	.modal-close span {
		margin-left: 40px;
	}

	.poem h3 {
		font-size: var(--fs-21);
	}
	.poem p {
		margin-bottom: 11px;
	}

	.footer p {
		font-size: var(--fs-12);
	}
}

@media screen and (min-width: 768px) {
	:root {
		--poem-fs: 19px;
		--subtitle-and-tile-name: 15px;
		--tile-width: 200px;
		--tile-height: 133px;
	}
	.main {
		margin: 50px 80px;
	}

	.header h1 {
		font-size: var(--fs-26);
	}

	.modal-close span {
		margin-left: 80px;
	}

	.tile {
		margin: 20px;
	}

	.poem h3 {
		font-size: var(--fs-22);
	}
	.poem p {
		margin-bottom: 12px;
	}

	.footer p {
		font-size: var(--fs-13);
	}
}

@media screen and (min-width: 1024px) {
	:root {
		--poem-fs: 20px;
		--subtitle-and-tile-name: 16px;
		--tile-width: 220px;
		--tile-height: 146px;
	}
	.main {
		margin: 50px 120px;
	}

	.header h1 {
		font-size: var(--fs-27);
	}

	.modal-close span {
		margin-left: 120px;
	}

	.tile {
		margin: 22px;
	}

	.poem h3 {
		font-size: var(--fs-23);
	}
	.poem p {
		margin-bottom: 13px;
	}

	.footer p {
		font-size: var(--fs-14);
	}
}

@media screen and (min-width: 1250px) {
	.main {
		margin: 50px 150px;
	}

	.modal-close span {
		margin-left: 150px;
	}
}
